.quyet-de {
    display: inline;
    padding-right:20px;
    font-size:40px;
    background-image: url('greyBackground.jpg');
    background-size: 20px;

}
.hoi-nhanh {
    color:  red;
    padding-right:20px;
    font-size: 40px;
    background-image: url('greyBackground.jpg');
    background-size: 20px;
}
.dap-gon {
    color: green;
    font-size:40px;
    background-image: url('greyBackground.jpg');
    background-size: 20px;
}
.hoi {
    margin-left: 600px;
}
.ask {
    margin-left: 300px;
}

.sai {
    margin-left: 400px;
    margin-top:20px;
}
.dung {
    margin-left: 300px;
}
.kq {
    margin-left: 450px;
    margin-top: 20px;
}
.other {
    margin-left:200px;
}